{% extends "base.html" %}
{% block title %}Login | Connect with us{% endblock title %}
{% block css %}
    .card {
        border-radius: 1rem;
        padding: 2rem;
        max-width: 400px;
        width: 100%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 0.5), rgba(166, 193, 238, 0.5));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(251, 194, 235, 0.5), rgba(166, 193, 238, 0.5));
        margin: 5rem auto;
        }

    .card-title {
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 700;
    }

    .form-outline {
        margin-bottom: 1.5rem;
    }

    form {
        padding: 20px;
    }

    form input {
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        transition: all 0.3s ease-in-out;
        background-color: rgba(255, 255, 255, 0.8);
    }

    form input:focus {
        border-color: #ff4081;
        box-shadow: 0 0 10px rgba(255, 64, 129, 0.5);
        background-color: rgba(255, 255, 255, 1);
    }

    .row a {
        font-size: 0.7rem !important;
        font-weight: bold;
    }
{% endblock css %}

{% block content %}
    <div class="card">
        <h3 class="card-title">Login</h3>
        <form method="post" action="{% url 'login' %}" name="login_form"> 
            {% csrf_token %}
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form1Example1" class="form-control"  name="email"/>
                <label class="form-label" for="form1Example1">Email address</label>
            </div>
            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="form1Example2" class="form-control" name="password" />
                <label class="form-label" for="form1Example2">Password</label>
            </div>
            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">login</button>
            <button data-mdb-ripple-init type="reset" class="btn btn-danger btn-block">reset</button>
        </form>

        <!-- 2 column grid layout for inline styling -->
        <div class="row row-flex me-auto container">
            <div class="col col-md  text-center">
                <a href="{% url 'verify_email' %}" class="text-muted text-decoration-underline">Forgot password?</a>
            </div>
            <div class="col col-md  text-center">
                <a href="{% url 'signuppage' %}" class="text-danger text-decoration-underline">New User?</a>
            </div>
            <!-- <div class="col col-md  text-center">
                <a href="{% url 'index' %}" class="text-danger text-decoration-underline">Go back</a>
            </div> -->
        </div>
    </div>


{% endblock content %}